* {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    --app-purple: #5e6b98;
    font-family: 'Montserrat', sans-serif;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid var(--app-purple);
    z-index: 0;
}

.c-info {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 20rem;
    text-align: center;
    z-index: 1;
}

.c-info__title {
    margin: 0;
    font-size: 3rem;
    font-family: 'Lora', serif;
}

.c-info__blurb {
    margin: 0.5rem 0 0 0;
}

.c-info__btn {
    margin-top: 1rem;
}

.o-btn {
    --btn-color: #000;
    --text-color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--btn-color);
    background-color: var(--btn-color);
}

.o-btn--primary {
    --btn-color: var(--app-purple);
}

.o-btn.is-disabled {
    --btn-color: #ddd;
    --text-color: #000;
    opacity: 0.8;
}